*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: Inter, system-ui, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  line-height: 1.6;
  text-rendering: optimizeLegibility;
  background-color: #fff;
  color: #000;
}

ul,
ol {
  list-style: none;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

input,
button,
textarea,
select {
  font: inherit;
}

/* Header Section  */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 32px 160px;
  background-color: #02102a;
}

.logo {
  font-size: 20px;
  font-weight: 800;
  text-transform: uppercase;
  color: #fff;
  transition: transform 0.25s ease;
}

.logo-icon {
  color: #6996f7;
}

.logo:hover {
  transform: translateY(-2px);
}

.nav-list {
  display: flex;
  align-items: center;
  gap: 32px;
}

.nav-list a {
  position: relative;
  color: #cbd5e1;
  transition: all 0.2s ease;
}

.nav-list a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -8px;
  height: 1px;
  width: 0;
  background-color: #fff;
  transition: all 0.2s ease;
}

.nav-list a:hover {
  color: #fff;
}

.nav-list a:hover::after {
  width: 100%;
}

/* Hero Section */
.hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 96px;
  background-color: #02102a;
  color: #fff;
  padding: 64px 160px 96px;
}

.hero-content {
  display: flex;
  flex-direction: column;
  gap: 48px;
}

.hero-content-text {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.hero-content-text h1 {
  font-weight: 800;
  font-size: 64px;
  line-height: 1.1;
  letter-spacing: -1.5px;
}

.hero-content-text p {
  font-size: 18px;
  max-width: 500px;
  color: #cbd5e1;
}

.btn {
  padding: 10px 24px;
  background-color: #2771f0;
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  max-width: 180px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.25s ease;
}

.btn:hover {
  background-color: #1d59c0;
}

.hero-content-img img {
  max-width: 800px;
  height: auto;
  border-radius: 12px;
  object-fit: cover;
}

/* 

Color Palette
Dark background (hero + footer)

#02102a (sleek dark navy)

Main text on dark background

#F8FAFC (very soft white)

Secondary text

#CBD5E1 (cool gray)

Primary accent / buttons

#3B82F6 (classic bright blue)

Information section text

Header: #0D1117
Body: #475569

Quote background

#E2E8F0 (very light gray-blue)

Quote text

#0D1117 weight: 300–400

*/
